@font-face {
	font-family: "Neue Lt Std 55";
	src: url("../fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Neue Lt Std 55", Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
	max-height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: lightblue; 
    border-radius: 10px;
}


.content {
	position: relative;
	top: 20px;
	-webkit-animation: fadein 1.7s;
	-moz-animation: fadein 1.7s;
	 -ms-animation: fadein 1.7s;
	  -o-animation: fadein 1.7s;
		 animation: fadein 1.7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.img-responsive {
	margin: 0 auto;
}

.nav-logo {
	position: relative;
    width: 32px;
	height: 32px;
	left: -10px;
}

.navbar {
	position: fixed;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #303030;
}

@media only screen and (max-width: 720px) {
	navbar {
		position: absolute;
	}
}

.image-strip {
	position: relative;
	width: 100%;
	-webkit-animation: dropdown 1.5s;
	-moz-animation: dropdown 1.5s;
	 -ms-animation: dropdown 1.5s;
	  -o-animation: dropdown 1.5s;
		 animation: dropdown 1.5s;
}

@-webkit-keyframes dropdown {
	from { top: -200px; opacity: 0; }
	to { top: 0px; opacity: 1; }
}


@-moz-keyframes dropdown {
	from { top: -200px; opacity: 0; }
	to { top: 0px; opacity: 1; }
}


@-ms-keyframes dropdown {
	from { top: -200px; opacity: 0; }
	to { top: 0px; opacity: 1; }
}


@-o-keyframes dropdown {
	from { top: -200px; opacity: 0; }
	to { top: 0px; opacity: 1; }
}

@keyframes dropdown {
	from { top: -200px; opacity: 0; }
	to { top: 0px;  opacity: 1; }
}

.section-title {
	position: relative;
	top: 1px;
	left: 1%;
	margin-bottom: 2px;
}

.section-title.solid {
	background-color: #303030;
	width: 100%;
	left: 0px;
	padding-left: 1%;
}

.text-section {
	position: relative;
	top: -60px;
	width: inherit;
	color: white;
	padding-top: 5px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.text-section.solid {
	background-color: #303030;
}

.text-section hr {
	position: relative;
	background-color:#c6c4c4;
	margin-top: 0px;
	width: 100%;
}

.section-text {
	position: relative;
	left: 11px;
}

a:link {
	text-decoration: none;
}

.social-links {
	position: inline;
	width: 90%;
	padding-left: 0px;
	margin-right: 0px;
}

.social-links.solid {
	background-color: #303030;
}
.social-link {
	position: relative;
	display: inline-block;
	opacity: 0.7;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	/*padding-right: 33px;
	padding-bottom: 100px;*/
	
}

.social-link:hover {
	opacity: 1;
}

#bungie-link {
	position: relative;
	top: 5px;
	left: 50px;
}

#bungie-link:hover {
	cursor: pointer;
}

#discord-link {
	top: 5px;
	left: 0px;
}

#discord-dropdown {
	top: 4px;
	position: relative;
	opacity: 0;
}

#bungie-dropdown {
	top: 4px;
	position: relative;
	opacity: 0;
}

.red {
	color:#d83324;
}

.green {
	color: #61f96b;
}

.purple {
	color: purple;
}

.footer {
	position: absolute;
	width: 100%;
	height: 21px;
	font-size: 12px;
	background-color: #303030;
	text-align: center;
	bottom: 0px;
	opacity: 0.6;
}

#groups-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#groups-list li {
	float: left;
	padding: 2px;
	width: 100%;
}


#detail {
	color: grey;
}

#preview {
	display: block;
	margin: 0 auto;
	border-style: solid;
	border-color: white;
}

#welcome-message-text {
	width: 98%;
}

#username-password-entry {
	width: 98%;
}

#xy-position-form {
	width: 10%;
}

#parallax {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#loading-image {
	margin: 13% auto;
	width: 336px;
}

#item-name {
	color: white;
	font-size: 70px;

	position: relative;
	top: -10px;
	left: 300px;
}

#item-type {
	color: lightgray;
	font-size: 35px;

	position: relative;
	top: -7px;
	left: 300px;
}

#item-icon {
	position: relative;
	top: 114px;
	left: 164px;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	
	width:96px;
	height:96px;
}

#item-desc {
	color: lightgrey;

	position: relative;
	top: 0px;
	left: 164px;
}

#item-lore {
	color: lightgrey;

	position: absolute;
	top: 270px;
	left: 164px;

	word-wrap: break-word;
	width: 300px;
}

#item-cost {
	position: relative;
	font-size: 30px;
	display: inline;
	color: lightgrey;
}

#stats {
	position: absolute;
	top: 800px;
	left: 1250px;
	width: 658px;
	height:120px;
	padding-left: 12px;
	background: rgba(19, 17, 17, 0.15);
	border: rgba(198, 196, 196, 0.2);
	border-style: solid;

}

#item-power {
	color: white;
	font-size: 55px;

	position: absolute;
	/*top: 800px;
	/*left: 1250px;*/
}

#item-power-text {
	color: lightgray;
	font-size: 30px;

	position: absolute;
	top: 70px;
	/*left: 1250px;*/
}

.stat {
	position: relative;
	left: 150px;
	top: 11px;
	color: lightgray;
}

#info {
	position: relative;
	margin: 0% auto;
	width: 1280px;
	height: 90px;
	top: 90px;
	background-color: #303030;
}

#activity-name {
	color: white;
	font-size: 50px;

	position: relative;
	top: 2px;
	left: 15px;
	margin: 0% auto;
	width: 1280px;
}

#activity-desc {
	color: lightgray;
	font-size: 15px;
	position: relative;
	top: -2px;
	
	left: 15px;
	margin: 0% auto;
	width: 1280px;
}

#rewards {
	color: white;
	font-size: 25px;

	position: relative;
	top: 25px;
	left: 770px;
	margin: 0% auto;
	width: 1280px;
}